<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>standby_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 148}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 367}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{451, 75}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 294}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 294}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 367}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 296}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{205, 221}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 75}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 150}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 148}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 440}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{205, 367}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 221}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 440}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 221}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 294}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 223}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 0}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 0}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 150}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 300}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 375}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 0}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{41, 300}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 225}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{369, 0}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{41, 150}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{451, 0}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 0}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 150}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{41, 225}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{41, 75}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 75}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{41, 375}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 0}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 375}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{205, 0}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 300}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 225}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 75}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{41, 0}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 0}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 0}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 75}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 148}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{451, 221}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{369, 221}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_50.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 221}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_51.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{205, 294}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_52.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 440}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_53.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 148}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_54.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{451, 148}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_55.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 75}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_56.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 221}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_57.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 148}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_58.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{369, 75}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_59.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 9}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 367}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_60.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{205, 148}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_61.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 75}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_62.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{205, 440}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_63.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{369, 148}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_64.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 294}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_65.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{123, 369}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_66.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 75}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_67.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 75}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_68.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 294}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_69.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 367}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_70.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{369, 294}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_71.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{205, 75}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_72.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 221}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_73.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 440}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_74.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{369, 367}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standby_75.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {39, 71}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{451, 294}, {39, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>standby</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>standby</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>