<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>disp_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 15}, {77, 65}}</string>
			<key>spriteOffset</key>
			<string>{3, -6}</string>
			<key>spriteSize</key>
			<string>{77, 65}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 162}, {77, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>disp_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 15}, {75, 67}}</string>
			<key>spriteOffset</key>
			<string>{3, -7}</string>
			<key>spriteSize</key>
			<string>{75, 67}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{221, 0}, {75, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>disp_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 0}, {63, 81}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{63, 81}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{79, 83}, {63, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>disp_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 0}, {77, 81}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{77, 81}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 83}, {77, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>disp_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 0}, {71, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{71, 81}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 166}, {71, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>disp_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 0}, {69, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{69, 81}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{73, 166}, {69, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>disp_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 5}, {73, 75}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{73, 75}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{146, 0}, {73, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>disp_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {85, 77}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{85, 77}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 83}, {85, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>disp_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 1}, {63, 81}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{63, 81}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{81, 0}, {63, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>disp_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 0}, {79, 81}}</string>
			<key>spriteOffset</key>
			<string>{-12, 1}</string>
			<key>spriteSize</key>
			<string>{79, 81}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {79, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>disp1</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>disp1</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>