<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>disp3_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 21}, {77, 61}}</string>
			<key>spriteOffset</key>
			<string>{4, -10}</string>
			<key>spriteSize</key>
			<string>{77, 61}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 132}, {77, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>disp3_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 3}, {87, 77}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{87, 77}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 83}, {87, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>disp3_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 21}, {81, 61}}</string>
			<key>spriteOffset</key>
			<string>{6, -10}</string>
			<key>spriteSize</key>
			<string>{81, 61}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{255, 0}, {81, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>disp3_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 6}, {83, 75}}</string>
			<key>spriteOffset</key>
			<string>{5, -2}</string>
			<key>spriteSize</key>
			<string>{83, 75}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{85, 0}, {83, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>disp3_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 21}, {87, 61}}</string>
			<key>spriteOffset</key>
			<string>{9, -10}</string>
			<key>spriteSize</key>
			<string>{87, 61}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 150}, {87, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>disp3_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 11}, {103, 71}}</string>
			<key>spriteOffset</key>
			<string>{2, -5}</string>
			<key>spriteSize</key>
			<string>{103, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 162}, {103, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>disp3_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 21}, {85, 61}}</string>
			<key>spriteOffset</key>
			<string>{7, -10}</string>
			<key>spriteSize</key>
			<string>{85, 61}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{186, 69}, {85, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>disp3_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 9}, {95, 71}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{95, 71}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{89, 77}, {95, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>disp3_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 14}, {83, 67}}</string>
			<key>spriteOffset</key>
			<string>{6, -6}</string>
			<key>spriteSize</key>
			<string>{83, 67}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 0}, {83, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>disp3_0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 1}, {83, 81}}</string>
			<key>spriteOffset</key>
			<string>{7, -0}</string>
			<key>spriteSize</key>
			<string>{83, 81}</string>
			<key>spriteSourceSize</key>
			<string>{125, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {83, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>disp3</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>disp3</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>